@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #1A2639;
  --foreground: #CBD5E1;
  --mint: #38E4AE;
  --mint-hover: #28C795;
  --grape: #B141FF;
  --grape-hover: #942BE0;
  --font-nunito: 'Nunito', Arial, Helvetica, sans-serif;
  --font-fredoka: 'Fredoka', Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fredoka);
}

.modal {
  &-backdrop {
    &.in {
      opacity: 0;
      animation: modal-backdrop-in 0.3s ease-in-out forwards;
    }
    &.out {
      opacity: 1;
      animation: modal-backdrop-out 0.3s 0.3s ease-in-out forwards;
    }
  }
  &-content {
    &.in {
      opacity: 0;
      animation: modal-content-in 0.3s 0.3s ease-in-out forwards;
    }
    &.out {
      opacity: 1;
      animation: modal-content-out 0.3s ease-in-out forwards;
    }
  }
}

@keyframes modal-backdrop-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-backdrop-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modal-content-in {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes modal-content-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}
