@import "tailwindcss";

@theme inline {
  --color-background: #1A2639;
  --color-foreground: #CBD5E1;
  --color-retro-navy: #1A2639;
  --color-light-navy: #253650;
  --color-dark-navy: #0F172A;
  --color-mint: #38E4AE;
  --color-mint-hover: #28C795;
  --color-grape: #B141FF;
  --color-grape-hover: #942BE0;
  --color-baby: #3DC2EC;
  --color-baby-hover: #2FA5CC;
  --color-danger: #F3355A;
  --color-danger-hover: #D6274B;
  --color-warning: #FFB302;
  --color-warning-hover: #E09C00;
  --color-success: #20D071;
  --color-success-hover: #19B360;
  --font-fredoka: 'Fredoka', Arial, Helvetica, sans-serif;
  --font-nunito: 'Nunito', Arial, Helvetica, sans-serif;
}